<app-header
  title="Skating Drill"
  [isHomePage]=false>
</app-header>

<ion-content [fullscreen]="true">
<div class="beginner-instructions">
  <ion-item>
    <ion-input label="How many reps do you want?" placeholder="Enter reps"></ion-input>
  </ion-item>
    @for(item of lessonInstructions; track item) {
      <app-instruction-text
        [disabled]="isButtonDisabled(item)"
        (instructionClick)="addInstructionText()"
        [instructionText]="item">
      </app-instruction-text>
    }
  </div>
</ion-content>
