ion-content {
  .menu-items {
    display: flex;
    flex-direction: row;

    .menu-button {
      display: flex;
      flex-direction: column;
      align-items: center;

      width: 30%;
      height: 30%;

      margin: 0.5rem;
      padding: 0.25rem;
      
      border-radius: 0.5rem;

      .menu-button-text {
        font-size: large;
      }
    }
  }
  .trip-plan-details {
    display: flex;
    flex-direction: row;
  }
}