<app-header
  title="Falling Leaf"
  [isHomePage]=false>
</app-header>

<ion-content [fullscreen]="true">
<div class="beginner-instructions">
    <p>Falling Leaf Heel Side</p>
    @for(item of lessonInstructions; track item) {
      <app-instruction-text
        [disabled]="isButtonDisabled(item)"
        (instructionClick)="addInstructionText()"
        [instructionText]="item">
      </app-instruction-text>
    }
    <p>Falling Leaf Toe Side</p>
    @for(item of toeLessonInstructions; track item) {
      <app-instruction-text
        [disabled]="isToeButtonDisabled(item)"
        (instructionClick)="addToeInstructionText()"
        [instructionText]="item"
      >
      </app-instruction-text>
    }
  </div>
</ion-content>
